:root {
    --nav-bg: darkblue;
    --nav-link-color: white;
    --nav-link-padding: 20px;
    --nav-padding: 10px;
    --heading-color: darkblue;
    --img-border-color: black;
    --img-border-width: 1px;
    --img-padding: 2px;
    --img-shadow: 0 0 30px gray;
    --paragraph-padding: 10px;
}

nav {
    background-color: var(--nav-bg);
    padding: var(--nav-padding);
}

nav a {
    color: var(--nav-link-color);
    display: block;
    padding: var(--nav-link-padding);
}

h1 {
    color: var(--heading-color);
}

img {
    width: 150px;
    height: auto;
    border: var(--img-border-width) solid var(--img-border-color);
    padding: var(--img-padding);
    box-shadow: var(--img-shadow)
}

p {
    padding: var(--paragraph-padding);
}